@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap");

:root {
  --bg: #ffffff;
  --text: #222222;
  --header-bg: #111f0d; 
  --card-bg: #ffffff;
}

body.dark {
  --bg: #0d140b;
  --text: #f0fdf4; 
  --header-bg: #080f06;
  --card-bg: #1a2e16;
}

body.dark figure {
  background-color: var(--card-bg) !important;
}

body.dark figure p {
  color: var(--text) !important;
}

body.dark figcaption p {
  color: var(--text) !important;
}

body.dark h1, 
body.dark h2, 
body.dark h3,
body.dark h4,
body.dark p {
  color: var(--text) !important;
}

@layer base {
  body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--bg);
    color: var(--text);
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    line-height: 1.2;
    color: var(--text);
  }

  p,
  small {
    font-weight: 300;
  }
}

#page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--header-bg);
  padding: 1rem;
}

#page-header img {
  height: 125px;
  width: 375px;
}

#page-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#page-header li {
  display: inline-block;
  margin-right: 1rem;
}

#page-header a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
}

#page-header a:hover {
  text-decoration: underline;
}

#theme-toggle {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 4px; /* Subtle rounding  */
  cursor: pointer;
  font-family: "Manrope", sans-serif;
}

.project-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-card {
  background-color: var(--card-bg);
  border-radius: 12px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

#hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/flowers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem;
}

.hero-tagline {
  color: #ffffff;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

main {
  padding: 2rem;
  padding-top: 2rem;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}